#sb-wrapper {
top: 145px !important;
margin-left: 365px !important;
}
#location_background{ background:#fff; padding:10px;}
#location_map ul, #location_map ul li {
	list-style: none;
	padding:0px;
	margin:0px;
	position:absolute;
}


#location_map ul li a {
		width: 6px;
		height: 6px;
		display: block;
	}
	#location_map ul li a em {
		position: relative;
	}
	
	

#location_map {
	margin-top:0px;
	margin-left:81px;
	background-image:url(map_blank_trans.png);
	width:838px;
	height:478px;
	position:relative;
}

#location_map ul li#aberdeen a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#aberdeen a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#aberdeen a em {
		top: 413px;
		left: -466px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#adelaide a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#adelaide a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#adelaide a em {
		top: 141px;
		left: -801px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#auckland a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#auckland a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#auckland a em {
		top: 157px;
		left: -898px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#boston a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#boston a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#boston a em {
		top: 429px;
		left: -306px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#brisbane a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#brisbane a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#brisbane a em {
		top: 221px;
		left: -834px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#canberra a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#canberra a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#canberra a em {
		top: 133px;
		left: -655px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}
/* ------------------------------------------------- */
#location_map ul li#baltimore-2 a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#baltimore-2 a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
#location_map ul li#detroit a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#detroit a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#detroit a em {
		top: 468px;
		left: -111px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
#location_map ul li#calgary a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#calgary a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#calgary a em {
		top: 397px;
		left: -48px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map ul li#edmonton a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#edmonton a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#edmonton a em {
		top: 375px;
		left: 125px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map ul li#fargo a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#fargo a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#fargo a em {
		top: 397px;
		left: 69px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	
	#location_map ul li#hamburg a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#hamburg a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#hamburg a em {
		top: 420px;
		left: -164px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	
	#location_map ul li#hartford a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#hartford a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#hartford a em {
		top: 435px;
		left: 12px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	
	#location_map ul li#hangzhou a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#hangzhou a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#hangzhou a em {
		top: 365px;
		left: -404px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map ul li#shenzhen a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#shenzhen a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#shenzhen a em {
		top: 311px;
		left: -56px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	
	#location_map ul li#montreal a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#montreal a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#montreal a em {
		top: 396px;
		left: 212px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map ul li#omaha a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#omaha a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#omaha a em {
		top: 437px;
		left: 251px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map ul li#philadelphia a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#philadelphia a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#philadelphia a em {
		top: 452px;
		left: 196px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map ul li#stamford a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#stamford a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#stamford a em {
		top: 398px;
		left: 376px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
/* ------------------------------------------------- */
#location_map ul li#chicago a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#chicago a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#chicago a em {
		top: 397px;
		left: -80px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#christchurch a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#christchurch a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#christchurch a em {
		top: 133px;
		left: -712px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#columbus a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#columbus a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#columbus a em {
		top: 421px;
		left: -96px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#washington-dc a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#washington-dc a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#washington-dc a em {
		top: 381px;
		left: 561px;
		font-style:normal;
		white-space:nowrap;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#dublin a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#dublin a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#dublin a em {
		top: 396px;
		left: -117px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#edinburgh a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#edinburgh a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#edinburgh a em {
		top: 420px;
		left: -133px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#hague a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#hague a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#hague a em {
		top: 428px;
		left: -140px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#london a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#london a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#london a em {
		top: 468px;
		left: -132px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#los-angeles a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#los-angeles a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#los-angeles a em {
		top: 332px;
		white-space:nowrap;
		left: 316px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#melbourne a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#melbourne a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#melbourne a em {
		top: 124px;
		left: -308px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#minneapolis a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#minneapolis a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#minneapolis a em {
		top: 413px;
		left: 260px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#new-york a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#new-york a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
		
	}
	#location_map ul li#new-york a em {
		top: 406px;
		left: 212px;
		white-space:nowrap;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#perth a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#perth a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#perth a em {
		top: 130px;
		left: -73px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#rome a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#rome a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#rome a em {
		top: 371px;
		left: 175px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#sandiego a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#sandiego a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#sandiego a em {
		top: 355px;
		left: 479px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#san-francisco a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#san-francisco a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#san-francisco a em {
		top: 352px;
		white-space:nowrap;
		left: 495px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#seattle a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#seattle a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#seattle a em {
		top: 435px;
		left: 495px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#sydney a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#sydney a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#sydney a em {
		top: 172px;
		left: -152px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#vancouver a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#vancouver a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#vancouver a em {
		top: 404px;
		left: 665px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#winnipeg a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#winnipeg a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#winnipeg a em {
		top: 150px;
		left: -47px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#buenos-aires a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#buenos-aires a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#buenos-aires a em {
		top: 133px;
		left: -175px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#darwin a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#darwin a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#darwin a em {
		top: 261px;
		left: -616px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#paris a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#paris a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#paris a em {
		top: 454px;
		left: 28px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#toronto a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#toronto a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#toronto a em {
		top: 364px;
		left: 560px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#milan a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#milan a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#milan a em {
		top: 396px;
		left: 4px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#zurich a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#zurich a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#zurich a em {
		top: 438px;
		left: 362px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#amsterdam a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#amsterdam a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#amsterdam a em {
		top: 421px;
		left: -490px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}

#location_map ul li#frankfurt a {
		background-color:#16225f;
		margin: 0;
		-webkit-transition: width .5s, height .5s, margin .5s;
    	-moz-transition: width .5s, height .5s, margin .5s;
    	-ms-transition: width .5s, height .5s, margin .5s;
    	transition: width .5s, height .5s, margin .5s;

	}
	#location_map ul li#frankfurt a:hover {
		width: 12px;
		height: 12px;
		margin-top:-3px;
		margin-left:-3px;
	}
	#location_map ul li#frankfurt a em {
		top: 412px;
		left: -148px;
		font-style:normal;
		font-family:'FrutigerLTW01-55Roman', Arial;
		font-size:.87em; /* 12px / 16px */
		position:absolute;
	}
	#location_map a:hover, #location_map a:active {
		color:white;
	}


#list-location {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-right: none;
}

#list-location ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#list-location ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}

#list-location ul li:first-child {
    border-left: none;
}

#list-location ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}
.locationlistbox{ margin-top:10px; margin-bottom: 20px; display: inline-block;}
.locationlistbox li{ padding:0px; padding-left:10px; margin:0px; border:none;}
.onhoverlocation{
    height: 12px !important;
    margin-left: -3px !important;
    margin-top: -3px !important;
    width: 12px !important;
}
@media only screen and (max-device-width: 480px) {
#location_map{ display:none;}
#location_background{ display:none;}


}
.textareacontact{ width:100%; height:59px;border:1px solid #e3e3e3;}
.contactbutton{ margin-left:10px;}

div.wpcf7-validation-errors{ border: none !important; color: #ff0000 !important;}
div.wpcf7-mail-sent-ok{ border: none !important; color: #398f14 !important;}
